.webform-layout-box {
  word-spacing: -1em; /* remove the space between inline-blocks */
}

.webform-layout-box  > * {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
}

.webform-layout-box.variable-width-children > * + * {
  margin-left: 1em;
}

.layout_box-child-width-2  > * {width: 50%;}
.layout_box-child-width-3  > * {width: 33%;}
.layout_box-child-width-4  > * {width: 25%;}
.layout_box-child-width-5  > * {width: 20%;}
.layout_box-child-width-6  > * {width: 16%;}
.layout_box-child-width-7  > * {width: 14%;}
.layout_box-child-width-8  > * {width: 12%;}
.layout_box-child-width-9  > * {width: 11%;}
