.webform-container-hbox,
.webform-container-hbox > div.fieldset-wrapper {
  border: none;
  padding: 0;
  margin: 0;
  position: static;
  word-spacing: -1em; /* remove the space between inline-blocks */
}

.webform-container-hbox > div.fieldset-wrapper > * {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
}

.webform-container-hbox-equal2 > div.fieldset-wrapper > * {width: 50%; word-spacing: normal;}
.webform-container-hbox-equal3 > div.fieldset-wrapper > * {width: 33%; word-spacing: normal;}
.webform-container-hbox-equal4 > div.fieldset-wrapper > * {width: 25%; word-spacing: normal;}
.webform-container-hbox-equal5 > div.fieldset-wrapper > * {width: 20%; word-spacing: normal;}
.webform-container-hbox-equal6 > div.fieldset-wrapper > * {width: 16%; word-spacing: normal;}
.webform-container-hbox-equal7 > div.fieldset-wrapper > * {width: 14%; word-spacing: normal;}
.webform-container-hbox-equal8 > div.fieldset-wrapper > * {width: 12%; word-spacing: normal;}
.webform-container-hbox-equal9 > div.fieldset-wrapper > * {width: 11%; word-spacing: normal;}
